# Garbage
*.idea
*.vcxproj*
*.exe
*.s
*.o
*.log
logs/
Testing/

# More VS stuff
*.sln
*.sdf
*.opensdf
*.vs*

# conan.io stuff
conanbuildinfo.txt
conaninfo.txt
conanfile.pyc

# Build files
build/
out/
bin/
