# Garbage
*.exe
*.s
*.o
*.log
logs/
Testing/
CMakeSettings.json

# IDE
*.sln
*.sdf
*.opensdf
*.vs*
*.idea
*.vcxproj*

# conan.io stuff
conanbuildinfo.txt
conaninfo.txt
conanfile.pyc

# Build files
build/
out/
bin/
